body > nav h3 {
    font-size: 100%;
    color: #DDDDDD;
    display: block;
}

form.inline {
    display: inline;
}

.ym-hlist ul {
    display: block;
    float: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.ym-hlist ul li {
    display: inline-block;
    float: none;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.ym-previous:before {
    content: '←';
}

.ym-reload:before {
    content: '⟳';
}

.ym-up:before {
    content: '↑';
}

.ym-down:before {
    content: '↓';
}

main .ym-wbox > aside.sidebar {
    float: right;
    margin-right: -18em;
    width: 18em;
}

main .ym-wbox > aside.sidebar > .sbox {
    padding: 1em;
    padding-top: 0;
}

ul.navlist {
    display: block;
    list-style-type: none;
}

ul.navlist > li {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

ul.navlist > li:first-child {
    margin-left: 0;
}

ul.navlist > li:last-child {
    margin-right: 0;
}

col.id {
    width: 4em;
}

col.enigma_id, col.priyom_id {
    width: 10em;
}

col.actions {
    width: auto;
}

td.tx-content {
    font-family: monospace;
}

.icon-user:before {
    content: '\263A';
}

.icon-station:before {
    content: '\2622';
}

.parsing-tree td {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.parsing-tree input, .parsing-tree textarea, .parsing-tree select {
    width: 100%;
}

.parsing-tree col.parsing-tree-key {
    width: 20em;
}

.parsing-tree .ym-fbox-wrap.ym-grid {
    width: 100%;
}

.action-column.ym-form {
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
}

.action-column.ym-form .ym-button {
    width: auto;
}

input.error, textarea.error, select.error {
    box-shadow: 0 0 3px #f00;
}

col.order-by {
    background-color: rgba(0, 0, 0, 0.1);
}

th div.order-indicator {
    float: right;
    width: 1.5em;
}

textarea.transmission {
    font-family: mono;
}

ul.pagination {
    display: block;
    text-align: right;
}

ul.pagination > li {
    display: inline-block;
    list-style-type: none;
    width: 2em;
    text-align: center;
    margin: 0;
}

ul.pagination > li.wide {
    width: 4em;
}

ul.pagination > li > a,
ul.pagination > li > div.fakebutton {
    display: block;
    /* steal the button theme from yaml here */
    white-space: nowrap;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee,#cccccc);
    background-color: #eeeeee;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
    zoom: 1;
    border: 1px solid #777;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333 !important;
    font: normal 1em/2em Arial, Helvetica;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    margin-right: -1px;
}

ul.pagination > li > div.fakebutton {
    cursor: default;
}

ul.pagination > li > a {
    cursor: pointer;
}

ul.pagination > li > a:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
    background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
    background-image: linear-gradient(to bottom, #fafafa,#dddddd);
    background-color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFDDDDDD');
    zoom: 1;
    color: black;
}

ul.pagination > li > a:active,
ul.pagination > li.current > a {
    background: transparent;
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(to bottom, #cccccc,#bbbbbb);
    background-color: #cccccc;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FFBBBBBB');
    zoom: 1;
}

ul.pagination > li:first-child > a,
ul.pagination > li:first-child > div.fakebutton
{
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}

ul.pagination > li:last-child > a,
ul.pagination > li:last-child > div.fakebutton
{
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    margin-right: 0;
}

.ym-fbox > .form-errors {
    margin-left: -1em;
    margin-right: -1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(187, 102, 102, 0.4);
}

/* .parsinga-tree input { */
/*     display: inline-block; */
/*     width: auto; */
/* } */

/* .parsing-tree label { */
/*     display: inline-block; */
/*     width: auto; */
/* } */

@media screen and ( max-width: 760px ) {

    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    ul.pagination {
        text-align: center;
    }
}

@media screen and (max-width: 960px ) {


    .linearize-level-2,
    .linearize-level-2 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }


}

@media screen and (max-width: 960px ) {


    .linearize-level-3,
    .linearize-level-3 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .linearize-level-3 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }


}

/* max width is computed by taking the width of the center container, adding */
/* two times the sidebar width and subtracting the 3em which are eaten by the*/
/* padding of the center box. */
/* then we have to use the baseline em size of 16px to make sure nothing evil*/
/* happens */
@media screen and (max-width: 99em ) {

    main .ym-wbox > aside.sidebar {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5em;
    }

    main .ym-wbox > aside.sidebar .sbox {
        padding: 0;
        margin: 0;
    }

}

@media screen and (min-width: 99em), screen and (max-width: 760px) {
    .linearize-sidebar,
    .linearize-sidebar > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }

    .linearize-sidebar > [class*="ym-g"] > [class*="ym-gbox"] {
        padding: 0;
        margin: 0;
    }

}
